.izq {
    margin-left: 5rem;
}

.clickss {
    cursor: pointer;
    border-bottom: 1px solid gray;
}

th {
    font-weight: 500;
}


/* .clickss:hover {
background-color: #3176df;
color: #ffffff;
font-weight: bold;
} */

.table-hover:hover {
    color: #ffffff;
}

.colors {
    background-color: #fa284b8e;
    color: #ffffff;
    font-weight: 500;
}

.centerxd {
    text-align: left;
    font-size: 40px;
    font-weight: 600;
    color: #001672;
    font-style: italic;
    margin-left: 120px;
}

.header {
    background-color: #03318C;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
}

.text_header {
    text-align: center;
    margin-top: 15px;
    font-weight: 600;
    color: white;
    margin-top: 15px;
    font-weight: 600;
    color: white;
}

.nombre {
    font-size: 15px;
    font-weight: 700;
    color: black;
    text-align: center;
}