h2 {
    color: var(--principal-text);
}

.totalApagar {
    font-weight: bold;
    font-size: 1.3rem;
}

.center {
    text-align: center;
}

.margin-radio {
    margin-left: 0.9rem;
}

.text-danger {
    cursor: pointer;
}

.white {
    color: white;
    text-align: center;
}

margin-label {
    margin-left: 0.5rem;
}

#cardheader {
    background-color: #001672 !important;
    border-radius: 1rem 1rem 0rem 0rem;
    color: white;
    font-weight: 600;
}

#cardfooter {
    background-color: #001672 !important;
    border-radius: 0rem 0rem 1rem 1rem;
    color: white;
    font-weight: 400;
    text-align: end;
}

#card {
    border-color: white;
    border-radius: 1em;
    box-shadow: 19px 10px 10px -8px rgba(196, 192, 196, 1);
    /* height: 17em; */
    width: 100% !important;
    margin-bottom: 3em;
    height: 50rem;
    /* display: inline-block !important; */
}

.centerxd {
    text-align: left;
    font-size: 40px;
    font-weight: 600;
    color: #001672;
    font-style: italic;
    margin-left: 25px;
}

.fecha {
    text-align: right;
    font-size: 20px;
    font-weight: 800;
    color: #001672;
    font-style: normal;
}

.btn-orden {
    height: auto;
}
