.btn-danger {
    border-radius: 30px;
}

.centerxd {
    text-align: left;
    font-size: 40px;
    font-weight: 600;
    color: #001672;
    font-style: italic;
    margin-left: 2em;
}

#tabla {
    margin-top: 10px;
}

.text_header {
    color: grey;
    font-size: 1.3rem;
}

.white {
    color: white;
    font-weight: bold;
}

.text-primary {
    color: #001672;
    font-size: 1.1rem;
}

.card {
    border-radius: 2em;
    background-color: white;
    box-shadow: 10px 10px 20px -8px rgba(196, 192, 196, 1);
    margin: 0px 80px;
    width: 90%;
    overflow-x: 60px;
}

.card-text {
    color: #001672;
    font-size: 1.3rem;
    text-align: center;
}


/* .card::-webkit-scrollbar {
    width: 0;
} */

.principalButton {
    margin-left: 58%;
    padding: 0.5rem;
}

.form-control {
    box-shadow: 40px 20px 30px -8px rgba(196, 192, 196, 1);
}

.cardd {
    background-color: white;
    box-shadow: 10px 10px 20px -8px rgba(196, 192, 196, 1);
}

.cursor {
    cursor: pointer;
}

.paginador {
    text-align: center;
}

#card {
    border-radius: 2em;
    background-color: white;
    box-shadow: 10px 10px 20px -8px rgba(196, 192, 196, 1);
    width: 80%;
    margin-bottom: 2em;
}

#img2 {
    max-width: 65% !important;
    display: block;
    margin: auto;
}

#h2 {
    color: #001672;
    text-align: center;
    font-weight: bold;
    margin-top: 10px;
    font-size: 18px;
    font-weight: 800;
}

.cursor {
    cursor: pointer;
}

.paginador {
    text-align: center;
}

#card {
    border-radius: 2em;
    background-color: white;
    box-shadow: 10px 10px 20px -8px rgba(196, 192, 196, 1);
    width: 80%;
    margin-bottom: 2em;
}


/* #img2 {
    max-width: 65% !important;
    display: block;
    margin: auto;
} */

#h2 {
    color: #001672;
    text-align: center;
    font-weight: bold;
    margin-top: 10px;
    font-size: 18px;
    font-weight: 800;
}


/*
@media (min-width: 576px) and (max-width:767px) {
    .card-columns {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
}

@media (min-width: 768px) and (max-width:991px) {
    .card-columns {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
}

@media (min-width: 992px) and (max-width:1199px) {
    .card-columns {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
}

@media (min-width: 1200px) {
    .card-columns {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
    }
} */