.card {
    border-color: white;
    border-radius: 1em;
    box-shadow: 19px 18px 20px -8px rgba(196, 192, 196, 1);
    /* width: 72rem !important; */
    width: 100%;
    margin-bottom: 1em;
}

.centerxd {
    text-align: left;
    font-size: 20px;
    font-weight: 600;
    color: #001672;
    font-style: italic;
    margin-left: 25px;
}

.elements {
    text-align: center;
    font-size: 15px;
    font-weight: 800;
    color: #001672;
    font-style: normal;
}


/* @media print {
    .noprint {
        display: none;
    }
    #content {
        width: calc( 100% - 0%);
        padding: 40px;
        min-height: 100vh;
        transition: all 0.3s;
        position: absolute;
        top: 0;
        right: 0;
    }




    
}
 */

.usg {
    display: flex;
    flex-wrap: row nowrap;
}

.buttonSVY {
    width: 50%;
    margin-left: 25%;
}

.hide-display {
    display: none;
}

@media print {
    .hide-when-printing {
        display: none;
    }
    /* .forced-jump {
        page-break-after: always;
    } */
    /* .margin-top-div {
        margin-top: 8.5cm;
    }
    .forced-jump-line {
        margin-top: 0.5cm;
    } */
    .hide-display {
        display: none;
    }
}

.sombra {
    box-shadow: 19px 18px 20px -8px rgb(196 192 196);
    padding: 1%;
    border-color: white;
}

.fontColor {
    color: #001672;
}

.centerxd {
    text-align: left;
    font-size: 20px;
    font-weight: 600;
    color: #001672;
    font-style: italic;
    margin-left: 25px;
}